* {
    text-align: center;
}

.tile {
    display: inline-block;
    height: 25vh;
    width: 30%;
    margin: 0 3px;
    border: 1px solid black;
}

.tile:hover {
    background-color: gray;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

@media (max-width: 600px) {
    .tile {
        height: 20vh;
    }
}