h1 {
    text-align: center;
}

.board {
    width: 90%;
    margin: 0 auto;
}

.row {
    width: 100%;
    background-color: white;
}

.tile {
    height: 20vh;
    width: 32%;
    display: inline-block;
    border: 1px solid black;
}

.tile:hover {
    background-color: darkgray;
}